body {
    padding-top: 50px;
}
.carousel {
    height: 500px;
    background-color: #000;
}
.carousel .item {
    height: 500px;
    background-color: #000;
}
.carousel h3 {
    font-size: 32px;
}
.carousel p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 100px 300px;
}
.carousel img {
    width: 100%;
}
.inner {
    margin-top: 60px;
}
.inner .col-md-4 {
    text-align: center;
}
.inner .col-md-4 h3 {
    font-size: 24px;
}
.inner .col-md-4 p {
    font-size: 16px;
    line-height: 1.2;
}
hr.divider {
    margin: 40px 0;
}
